<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mobiledoormanapp.core" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Mobile Doorman</name>
    <description>
        Apartment building management app
    </description>
    <author href="http://tenforwardconsulting.com" email="brian@tenforwardconsulting.com">
        Ten Forward Consulting, Inc
    </author>
    <content src="index.html" />
    <access origin="*" />
    <gcmSenderId>69583903294</gcmSenderId>
</widget>
